body {
    color: #252934;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    font-family: "europa", sans-serif;
  }

:root{
    --pseudo-color: #8c52ff;
    }

.rotate:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 3rem;
    color: var(--pseudo-color);
}

.cardCover {
    height: 400px;
    background-color: #252934;
    border-radius: 10px;
}

.card {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: #252934 5px solid;
    background-color: #252934;
}

.matched {
    border: #8c52ff 5px solid !important;
    animation-name: rubberBand;
    animation-duration: 0.75s;
}

.open{
    background-color: transparent !important;
}

.disableClick {
    pointer-events: none;
}

.btn_Div {
    font-size: 20px;
    border: #252934 solid 3px;
    border-radius: 15px;
    padding: 10px;
    width: 70%;
    transition: 0.5s ease;
    margin: 20px auto;
}

.btn_Div:hover {
    background-color: #252934;
}


#genBtn:hover {
    color: var(--pseudo-color);
}

.unmatched {
    animation-name: pulse;
    animation-duration: 0.75s;
    border: #ff5757 5px solid !important;
}

/*Game Animations Start*/

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
/*Game Animations End*/

/*Link Animations Start*/

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--anim {
    font-size: 1.375rem;
}

.link--anim::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--anim:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--anim span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--anim:hover span {
    transform: translate3d(0, -2px, 0);
}

/*Link Animation End*/
